[submodule "pascal"]
	path = pascal
	url = git@github.com:erikperkins/pascal
[submodule "coulomb"]
	path = coulomb
	url = git@github.com:erikperkins/coulomb
[submodule "navier"]
	path = navier
	url = git@github.com:erikperkins/navier
[submodule "babinet"]
	path = babinet
	url = git@github.com:erikperkins/babinet
[submodule "bossut"]
	path = bossut
	url = git@github.com:erikperkins/bossut
[submodule "mariotte"]
	path = mariotte
	url = git@github.com:erikperkins/mariotte
