<h1 class="bg-white font-bold text-center text-4xl">
  Cauchy
</h1>

<br/>

<p class="text-center italic">En cours de construction.</p>

<br/>

<div class="object-center">
  <img class="mx-auto h-[800px]" src={static_path(@conn, "/images/ducreux.jpg")}>
</div>
